* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: "Epilogue", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-height: 100em;
}

#navbar {
    width: 100%;
    padding: 20px 40px;

    display: flex;
    flex-direction: row;
}

#navbar button {
    background-color: transparent;
    color: hsl(0, 0%, 41%);

    border: solid 2px transparent;
    border-radius: 15px;
    padding: 10px 15px;
}

#logo-container {
    padding: 10px 20px 5px 0px;
}

#nav-btns-container {
    padding-left: 20px;
}

#sign-btns > button:last-child {
    border: solid 2px hsl(0, 0%, 41%);
}

#main {
    padding: 0px 100px;
    
    display: grid;
    grid-template-columns: 50% 50%;
}

#info-section {
    width: 100%;
    padding: 0px 60px 0px 40px;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

#info-section > div {
    padding: 25px 5px;
}

#info-section-client-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#info-section > div > h1 {
    font-size: 70px;
    font-weight: 700;
}

#info-section > div > p {
    color: hsl(0, 0%, 41%);
    font-size: 18px;
    font-weight: 500;
}

#info-section > div > button {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);

    border: solid 2px hsl(0, 0%, 8%);
    border-radius: 10px;
    padding: 15px 25px;
    
    font-weight: 700;
    font-size: 18px;
    width: auto;
}

#image-section {
    width: 100%;
    border: 0px;
    padding: 0px 40px 0px 60px;
}

#hero-image {
    width: 100%;
}

@media (max-width: 900px) {
    #main {
        padding: 0px;
        
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    #image-section {
        padding: 0px;
    }

    #info-section {
        align-items: center;

        padding: 0px 50px;
    }

    #info-section > div > h1 {
        text-align: center;
    }

    #info-section > div > p {
        text-align: center;
    }
}

@media (max-width: 475px) {
    #info-section {
        padding: 0px;
    }

    #info-section > div {
        padding: 20px 10px;
    }

    #info-section > div > h1 {
        font-size: 40px;
    }
}